.formulario {
 width: 40%;
}

.formulario_label{
  font-size:20px;
  font-weight: bold;
}

.formulario_input {
  border-radius: 5px;
  width: calc(100% - 100px);
  height: 20px;
  margin: 0 0 0 5px;
 
  
}

.formulario_div_btn{
  text-align: right;
  margin: 0 30px 5px 0;
}
.formulario_btn {
  border-radius:10px;
  height: 30px;
  box-shadow: 2px 2px 5px 1px;

}

.formulario_btn:hover {
  background-color: #ffe4c4;
  opacity: 90%;
  transition: 1s;
}

.formulario_btn:active {
  background-color: #808080;
  transition: 0.01s;
}

.formulario_erro {
  height: 15px;
  color: red;
  font-size: smaller;
  margin-top: 0;
  margin-left: 70px;
 
}
